@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUẢN LÝ DOANH NGHIỆP</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Doanh nghiệp</h2>
        <p><a class="btn btn-default" href="/OrgUnits">Đi đến &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quản lý</h2>
        <p><a class="btn btn-default" href="/Managers">Đi đến &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nhân viên</h2>
        <p><a class="btn btn-default" href="/Staffs">Đi đến &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Quan hệ Doanh nghiệp - Quản lý</h2>
        <p><a class="btn btn-default" href="/OrgUnitManagers">Đi đến &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Quan hệ Doanh nghiệp - nhân viên</h2>
        <p><a class="btn btn-default" href="/OrgUnitStaffs">Đi đến &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Sơ đồ Doanh Nghiệp</h2>
        <p><a class="btn btn-default" href="/SoDoCT">Đi đến &raquo;</a></p>
    </div>
</div>